.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: #eee;
    padding: 0 5rem;
    width: 100%;
}

.header__link-container > * {
    margin-left: 1rem;
    cursor: pointer;
}

.profile-icon {
    font-size: 3rem;
}